[Unit]
Description=DavMail gateway service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=davmail ${HOME}/.davmail.properties
ExecStop=killall davmail

[Install]
WantedBy=default.target
