[Unit]
Description=DavMail gateway service
After=syslog.target
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=davmail
ExecStop=killall davmail

[Install]
WantedBy=multi-user.target
