alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

alias ls='ls --color=auto'
alias sl=ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lsd="ls -lF | grep --color=never '^d'"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias c="clear"
alias tc="clear; tmux clear-history"
alias q="exit"
alias h="history"
alias md="mkdir -p"
alias rd="rmdir -r"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

