! ------------------------------------------------------------------------------
! Colour Configuration (solarized)
! ------------------------------------------------------------------------------

*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

URxvt*font:          	xft:M+ 1mn:regular:size=8
URxvt*boldFont:       xft:M+ 1mn:bold:size=8
URxvt*italicFont:		  xft:M+ 1mn:italic:size=8
URxvt*boldItalicFont:	xft:M+ 1mn:bold italic:size=8

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! ------------------------------------------------------------------------------
! XTerm configs
! ------------------------------------------------------------------------------

XTerm*termName:   xterm-256color
XTerm*renderFont: true
xterm*faceName:   Hack Nerd Font
XTerm*faceSize:   12

Xterm*foreground: #F8F8F2
Xterm*background: #282A36
Xterm*color0:     #000000
Xterm*color8:     #4D4D4D
Xterm*color1:     #FF5555
Xterm*color9:     #FF6E67
Xterm*color2:     #50FA7B
Xterm*color10:    #5AF78E
Xterm*color3:     #F1FA8C
Xterm*color11:    #F4F99D
Xterm*color4:     #BD93F9
Xterm*color12:    #CAA9FA
Xterm*color5:     #FF79C6
Xterm*color13:    #FF92D0
Xterm*color6:     #8BE9FD
Xterm*color14:    #9AEDFE
Xterm*color7:     #BFBFBF
Xterm*color15:    #E6E6E6

XTerm.vt100.locate: false
XTerm.vt100.utf8:   2

XTerm*savelines:         16384
XTerm*selectToClipboard: true

XTerm*loginshell: true

XTerm.vt100.metaSendsEscape: true

XTerm.vt100.translations: #override \n\
  Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
  Shift Ctrl <Key>V: insert-selection(CLIPBOARD)

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace: 0
URxvt.lineSpace: 0

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:	true

! appearance
URxvt*depth: 24
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder:	24
URxvt*externalBorder:	0
URxvt.geometry:	84x22

! perl extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

! macros for clipboard and selection
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand:	xclip -o -selection clipboard
URxvt.keysym.M-c:	perl:clipboard:copy
URxvt.keysym.M-v:	perl:clipboard:paste
URxvt.keysym.M-C-v:	perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s:	perl:keyboard-select:search
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

! scroll one line
URxvt.keysym.Shift-Up:	 command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:  	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.Control-Left:	\033[1;5D

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #d8dee9
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #d8dee9

